<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
		<add name="Default" connectionString="Server=dev.kjeldcon.se;Port=5432;User ID=monsters;Password=monsters123;Pooling=false;MinPoolSize=1;MaxPoolSize=20;Timeout=15;SslMode=Disable;Database=monsters" />

	</connectionStrings>
</configuration>
